body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 24px;
    margin-top: 20px;
}
